*{
    margin: 0px;
}

body{
    background-color: gray;
}

.container{
    max-width: 1600px;
}

header{
    background-image: url('./img/1.png');
    background-size: cover;
    background-position: center;
    height: 600px;
    background-repeat: no-repeat;
}

.nav{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.nav_menu{
    display: flex;
    gap: 50px;
    align-items: center;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: orangered;
}

.nav_settings{
    display: flex;
    gap: 20px;
}

.header_text{
    color: white;
    width: 300px;
    margin-left: 200px;
}

.header_text h1{
    width: 200px;
    font-size: 80px;
    margin-bottom: 40px;
}

.header_text p{
    width: 600px;
    font-size: 20px;
    margin-bottom: 40px;
}

.header_text button{
    width: 130px;
    border-radius: 10px;
    border: none;
    outline: none;
    color: white;
    padding: 10px;
    background-color: rgb(254, 95, 37);
}

.main_text{
    text-align: center;
    margin: 40px 0px;
    font-size: 50px;
}

.main_block{
    display: flex;
    width: 1250px;
    flex-wrap: wrap;
    margin: 60px auto;
    gap: 100px;
}

.main_inblock{
    width: 350px;
    border-radius: 20px;
    height: 400px;
    background-color: black;
    color: white;
}

.main_inblock:hover{
    background-color: rgb(252, 102, 47);
    color: black;
}

.main_inblock h3, p{
    margin: 10px 0px 40px 30px;
    font-size: 18px;
    width: 260px;
}

.main_inblock img{
    border-radius: 20px 20px 0px 0px;
}

.footer_text{
    background-image: url('./img/image\ 86.png');
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position:right;
    background-color: #F57520;
}

.login{
    display: flex;
    width: 500px;
    margin-left: 300px;
    flex-wrap: wrap;
}

.footer_text h1{
    width: 500px;
    color: white;
    padding: 50px 0px 0px 30px;
    margin: 0px 0px 60px 280px;
    font-size: 30px;
}

input{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
}

textarea{
    margin: 10px;
    width: 380px;
    border-radius: 10px;
    height: 100px;
}

.footer_text button{
    margin: 10px;
    padding: 10px;
    width: 385px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.footer_menu{
    display: flex;
    justify-content: space-around;
    padding: 70px;
    background-color: black;
    color: white;
}

.footer_ul{
    display: flex;
    gap: 70px;
}

ul li {
    list-style-type: none;
    margin-top: 20px;
}